<h2 >
   Alternative blocks
</h2>
<h4 >(no of alt blocks: {{no_alt_blocks}})</h4>
<div class="center">

      <table class="center" >
            <tr>
                <td>height</td>
                <td>age</td>
                <td>hash</td>
                <td>txs no</td>
            </tr>
            {{#blocks}}
            <tr>
                <td>{{height}}</td>
                <td>{{age}}</td>
                <td>{{hash}}</td>
                <td>{{no_of_txs}}</td>
            </tr>
            {{/blocks}}
        </table>


</div>
