<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    {{#refresh}}
        <meta http-equiv="refresh" content="10">
    {{/refresh}}
    <title>FlakeChain Explorer</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    {{#js_files}}{{/js_files}}
</head>
<body>

<div class="container">
    <h1>FlakeChain Explorer</h1>
    <div class="row">
        <form class="col s12" action="/search" method="get">
          <div class="row">
            <div class="input-field col s12">
              <input id="value" type="text" name="value">
              <label for="value">block height, block hash, transaction hash</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <button name="action" type="submit" class="waves-effect waves-light btn-large" style="display: inline">
                find
              </button>
          </div>
          </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">

